In [1]:
#Base class employee having attributes and emp_details method
#The salary attribute is encapsulated using __
class employee:
  def __init__(self, name, age, gender, salary):
    self.name = name
    self.age = age
    self.gender = gender
    self.__salary = salary

  def emp_details(self):
    print("\nEmployee details: ")
    print("Employee name:",self.name)
    print("Employee age:",self.age)
    print("Employee gender:",self.gender)
    print("Employee salary:",self.__salary)

#Object initialization and creation
print("Employee 1 details:")
emp1 = employee("Varnika", 20, "F", 15000)
emp1.emp_details()

print("\nEmployee 2 details: ")
name = input("Enter employee name: ")
age = int(input("Enter employee age: "))
gender = input("Enter employee gender: ")
salary = input("Enter employee salary: ")
emp2 = employee(name, age, gender, salary)
emp2.emp_details()

Employee 1 details:

Employee details:
Employee name: Varnika
Employee age: 20
Employee gender: F
Employee salary: 15000

Employee 2 details:
Enter employee name: Milind
Enter employee age: 40
Enter employee gender: M
Enter employee salary: 75500

Employee details:
Employee name: Milind
Employee age: 40
Employee gender: M
Employee salary: 75500