**1. Concatenation** - Combining two or more strings using the + operator.

In [1]:
string1 = "Varnika"
string2 = "Mulay"
string3 = string1 + " " + string2
print("Concatenated string: ",string3)

Concatenated string:  Varnika Mulay

**2. Case Changing** - Converting strings to upper case, lower case, or title case.

In [5]:
string1 = "My name is Varnika"
upper_string1 = string1.upper()
lower_string1 = string1.lower()
title_string1 = string1.title()
print("Original string: ",string1)
print("CASE CONVERSIONS:\n")
print("Upper case: ",upper_string1)
print("Lower case: ",lower_string1)
print("Title case: ",title_string1)

Original string:  My name is Varnika
CASE CONVERSIONS:

Upper case:  MY NAME IS VARNIKA
Lower case:  my name is varnika
Title case:  My Name Is Varnika

**3. String splitting** - Splitting a string into a list of substrings by spaces

In [7]:
string1 = "This is an example of string splitting"
new_string1 = string1.split()
print("ORIGINAL STRING: ")
print(string1)
print("STRING SPLITTING OUTPUT: ")
print(new_string1)

ORIGINAL STRING:
This is an example of string splitting
STRING SPLITTING OUTPUT:
['This', 'is', 'an', 'example', 'of', 'string', 'splitting']

**4. String joining** - Joining a list of strings into a single string.

In [9]:
string_list = ['This', 'is', 'an', 'example', 'of', 'string', 'splitting']
symbol = "|"
combined_str = symbol.join(string_list)
print("ORIGINAL LIST: ")
print(string_list)
print("COMBINED STRING: ")
print(combined_str)

ORIGINAL LIST:
['This', 'is', 'an', 'example', 'of', 'string', 'splitting']
COMBINED STRING:
This|is|an|example|of|string|splitting

**5. Finding substring** - Finding the position of a substring in the original string.

In [13]:
string1 = "This is an example of finding substrings"
key = "example"
index_position = string1.find(key)
print("ORIGINAL STRING: ")
print(string1)
print("Substring to be found: ",key)
print("INDEX POSITION: ",index_position)
print(f"Index position of {key} is: ",index_position)

ORIGINAL STRING:
This is an example of finding substrings
Substring to be found:  example
INDEX POSITION:  11
Index position of example is:  11

**6. Replacing substring** - Replacing an existing substring with a new substring.

In [15]:
string1 = "This is an example of replacing substrings."
word_to_be_replaced = "substrings"
new_word = "words"
updated_string1 = string1.replace(word_to_be_replaced, new_word)
print("ORIGINAL STRING:\n",string1)
print("UPDATED STRING:\n",updated_string1)

ORIGINAL STRING:
 This is an example of replacing substrings.
UPDATED STRING:
 This is an example of replacing words.

**7. String formatting** - Inserting variables into strings using f-strings (formatted string literals)

In [16]:
fruit = "Mango"
color = "yellow"
print(f"{fruit} is a {color} colored fruit!")

Mango is a yellow colored fruit!

**8. Stripping whitespace** - Removing leading or trailing whitespace from a string.

In [24]:
word1 = "   Hi! My name is Varnika. "
print("ORIGINAL STRING:\n ",word1)
print("\nLEFT STRIP: \n",word1.lstrip())
print("\nRIGHT STRIP: \n",word1.rstrip())
print("\nFULL STRIP: \n",word1.strip())

ORIGINAL STRING:
     Hi! My name is Varnika.

LEFT STRIP:
 Hi! My name is Varnika.

RIGHT STRIP:
    Hi! My name is Varnika.

FULL STRIP:
 Hi! My name is Varnika.

**9. String Slicing** - Extract substrings from main string using slicing

In [33]:
string1 = "This is an example of string slicing"
print(string1[0:7])
print(string1[11:18])
print(string1[22:])
print(string1[:19])
print(string1[-7:])

This is
example
string slicing
This is an example
slicing

**10. Reversing a string** - Reversing the characters in a given string

In [34]:
string1 = "Varnika"
reversed_str = string1[::-1]
print("ORIGINAL STRING: ",string1)
print("REVERSED STRING: ",reversed_str)

ORIGINAL STRING:  Varnika
REVERSED STRING:  akinraV

**11. Checking string content** - Checking if a string contains only digits, letters, is alphanumeric, or if a substring exists within the string.

In [43]:
word1 = "GoogleColab"
word2 = "876589"
word3 = "Python3"
word4 = "Python Programming"
print(f"CHECK FOR DIGITS IN {word2}:",word2.isdigit())
print(f"CHECK FOR LETTERS IN {word1}:",word1.isalpha())
print(f"CHECK FOR ALPHANUMERIC IN {word3}:",word3.isalnum())
print("\nORIGINAL STRING:",word4)
print("Python" in word4)
print("coding" in word4)

CHECK FOR DIGITS IN 876589: True
CHECK FOR LETTERS IN GoogleColab: True
CHECK FOR ALPHANUMERIC IN Python3: True

ORIGINAL STRING: Python Programming
True
False

**COMBINED EXAMPLE**

In [44]:
string1 = "The young girl was baking a cake in her bakery."
updated_str = string1.replace("cake", "bread")
title_string = updated_str.title()
split_str = title_string.split()
merged_string = "--".join(split_str)

print("ORIGINAL STRING:",string1)
print("STRING WITH REPLACE:",updated_str)
print("STRING WITH TITLE:",title_string)
print("STRING WITH SPLIT:",split_str)
print("STRING WITH JOIN:",merged_string)

ORIGINAL STRING: The young girl was baking a cake in her bakery.
STRING WITH REPLACE: The young girl was baking a bread in her bakery.
STRING WITH TITLE: The Young Girl Was Baking A Bread In Her Bakery.
STRING WITH SPLIT: ['The', 'Young', 'Girl', 'Was', 'Baking', 'A', 'Bread', 'In', 'Her', 'Bakery.']
STRING WITH JOIN: The--Young--Girl--Was--Baking--A--Bread--In--Her--Bakery.